<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <nav class="navbar">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/works">Works</a>
    </nav>
    <h1>Welcome to Peter Jacksons about section</h1>
    <p>Here we talk his early, personal, and professional life</p>
    <div>
      <h3>Early life</h3>
      <p class="bio">
        Jackson's Birth and Upbringing: Born on October 31, 1961, in Wellington,
        Peter Jackson grew up in the northern suburb of Pukerua Bay. His
        parents, Joan and William "Bill" Jackson, migrated from England, with
        Joan working as a housewife and factory worker, and Bill as a wages
        clerk. Passion for Cinema and Initial Filmmaking: From a young age,
        Jackson's fascination with cinema was evident. He immersed himself in
        Ray Harryhausen's films, Thunderbirds, and Monty Python's Flying Circus.
        A pivotal moment came when a family friend gifted them a Super 8
        cine-camera, sparking Jackson's journey into crafting short films
        alongside friends. He even attempted to recreate his favorite film, King
        Kong, through stop-motion animation. Education, Style, and Independent
        Learning: During his schooling at Kāpiti College, Jackson showed little
        interest in sports and sported his signature duffel coat. Despite
        lacking formal film training, he self-taught skills in editing, special
        effects, and make-up through trial and error. Tolkien's Influence and
        Professional Ventures: Discovering J. R. R. Tolkien's work after
        watching Ralph Bakshi's animated adaptation of The Lord of the Rings,
        Jackson's interest in fantasy deepened. At 16, he left school and worked
        as a photo-engraver at The Evening Post to save money for filmmaking
        equipment. After obtaining a 16 mm camera, he embarked on creating what
        would evolve into his first feature film, Bad Taste.
      </p>
      <h3>Career</h3>
      <p>
        Peter Jackson's career is characterized by a diverse range of films that
        span various genres. He gained recognition with his early splatter
        phase, which included movies like "Bad Taste," "Meet the Feebles," and
        "Braindead." These films showcased his unique style and dark humor.
        Jackson's transition to more ambitious projects is evident in "Heavenly
        Creatures," a critically acclaimed drama based on a real murder case.
        His Hollywood success started with "The Frighteners," a comedy-horror
        film starring Michael J. Fox. Jackson's most iconic achievement is
        undoubtedly "The Lord of the Rings" trilogy, adapted from J.R.R.
        Tolkien's fantasy epic. The trilogy garnered widespread acclaim, winning
        multiple Academy Awards, including Best Picture for "The Return of the
        King." Jackson continued to showcase his directing prowess with the
        remake of "King Kong," which received positive reviews and achieved
        commercial success. He also produced and directed the documentary "They
        Shall Not Grow Old," a unique portrayal of World War I using restored
        archival footage. Jackson's interests extended to video games,
        co-creating Wingnut Interactive, and planning to work on a game set in
        the "Halo" universe. Additionally, he contributed to charitable
        activities and aviation heritage preservation. His cameos in films,
        attention to detail, and dedication to storytelling have solidified his
        legacy as a visionary filmmaker.
      </p>
      <h3>Personal life</h3>
      <p>
        Peter Jackson, along with his partner Dame Fran Walsh, is a prominent
        figure in the film industry. Walsh, a screenwriter, film producer, and
        lyricist, has been an essential collaborator on Jackson's projects since
        1989. She contributed as a co-writer and producer, earning multiple
        Academy Awards for her work on "The Lord of the Rings" trilogy,
        including Best Picture, Best Adapted Screenplay, and Best Original Song.
        Jackson is known for his passion for aviation and owns a collection of
        over 40 World War I-era warbirds, which are housed at Hood Aerodrome
        near Masterton. He also possesses a Gulfstream G650 jet and the original
        Chitty Chitty Bang Bang car. He has a deep interest in building scale
        models and owns a company, Wingnut Wings, which specializes in crafting
        models of World War I aircraft. In addition, Jackson's involvement in
        preserving aviation history is evident through the Omaka Aviation
        Heritage Centre's Knights of the Sky exhibition, showcasing his own
        collection of WW1 aircraft and artifacts. This exhibition brings the
        story of aviation in World War I to life through sets created by his
        companies, WingNut Films and Weta Workshop. Jackson's influence extends
        beyond filmmaking, as his support for city councilor Andy Foster during
        the 2019 Wellington City Council Elections garnered attention. Foster's
        victory was aided by Jackson's endorsement and financial contribution to
        his campaign. Both Jackson and Foster had criticized a previous city
        council decision regarding property development at Shelly Bay.
      </p>
    </div>
  </body>
</html>
