<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Peter Jackson Fan page</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <nav class="navbar">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/works">Works</a>
    </nav>
    <h1>Peter Jackson <br />Fan Page</h1>
    <p>
      Welcome to the Peter Jackson fan page, where we show his work and a bit
      of his personal and professional life.
    </p>
    <div class="profile-picture">
      <img
        src="/Images/sir_Peter_Jackson-profile-picture.jpg"
        alt="profile picture"
      />
    </div>
  </body>
</html>
