<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Works</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <nav class="navbar">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/works">Works</a>
    </nav>
    <h1>Welcome to Peter Jacksons filmography section</h1>
    <p>On this page we selected his most famous and notable works</p>
    <div class="gallery">
      <div class="poster">
        <img src="/Images/the_Lord_of_the_Rings-1.jpg" alt="fellowship" />
      </div>
      <div class="poster">
        <img src="/Images/king-kong.jpg" alt="king-kong" />
      </div>
      <div class="poster">
        <img src="/Images/lovely-bones.jpg" alt="bones" />
      </div>
      <div class="poster">
        <img
          src="/Images/the_Hobbit-_An_Unexpected_Journey.jpeg"
          alt="hobbit"
        />
      </div>
      <div class="poster">
        <img src="/Images/they_Shall_Not_Grow_Old.jpg" alt="theyShall" />
      </div>
    </div>
  </body>
</html>
